version: '3.9'

networks:
  go-webapp:
    name: go-webapp
    ipam:
      driver: default
      config:
        - subnet: "192.168.3.0/24"
          gateway: "192.168.3.1"


services:
  postgres:
    image: postgres:15
    restart: always
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: mydatabase
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - go-webapp
